<h2>Buscar por Nombre de País</h2>
<hr>
<div class="row">
    <div class="col">
        <app-search-country-input 
            (onSearch)="searchCountry($event)"
            (onDebounce)="suggestion($event)"
            placeholder="Buscar por País..."
            ></app-search-country-input>
    </div>
</div>

<hr>

<div *ngIf="error" class="alert alert-danger">
    <p>País no encontrado</p>
</div>

<div class="row" *ngIf="countries.length>0">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>