<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Capital</th>
            <th>Región</th>
            <th>Bandera</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries">
            <td>{{country.name.common}}</td>
            <td>{{country.capital}}</td>
            <td>{{country.region}}</td>
            <td>
                <img class="small-flag" src="{{country.flags.svg}}" alt="{{country.flags.alt}}" >
            </td>
            <td>
                <a [routerLink]="['/country',country.ccn3]" >Ver más</a>
            </td>
        </tr>
    </tbody>
</table>